<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cecil_FinalProject"
        tools:targetApi="31">
        <activity
            android:name=".UpdatePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ChooseUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".FirstDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BattleResultsActivity"
            android:exported="false" />
        <activity
            android:name=".BattleChooseActivity"
            android:exported="false" />
        <activity
            android:name=".LeaveReviewActivity"
            android:exported="false" />
        <activity
            android:name=".TeamDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".SelectDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityConfirmDelete"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityDeleteTeam"
            android:exported="false" />
        <activity
            android:name=".CreateTeamActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
    </application>

</manifest>